<style>
    mat-form-field{
        width: 320px;
    }
</style>

<div style="display: flex; flex-direction: column; align-items: flex-start; margin-top: 100px; margin-left: 400px;">
    <div style="display: flex; gap: 120px;">
<div style="position: relative; top: 100px;">
        <button style="width: 160px; background: rgb(188, 224, 238); color: rgb(0, 195, 255);"  mat-flat-button>Contact us</button>
        <div style="display: block;">
            <h1 style="font-size: 42px; color: rgb(0, 162, 255);">Get in touch to book your firts</h1>
            <h1 style="font-size: 42px; color: rgb(0, 195, 255);">appaintment</h1>
        </div>
    <div style="width: 500px;">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore velit quibusdam dolor labore fuga esse? 
        Voluptatum voluptatem delectus esse sint, at, 
        necessitatibus excepturi atque magni totam itaque inventore dicta veritatis.</p>
    </div>
    </div>
    

    <div>
        <mat-card>
            <mat-card-content>
                <p>Firts name</p>
                <mat-form-field>
                    <mat-label>Firts name</mat-label>
                    <input matInput>
                </mat-form-field>
                <p>Last name</p>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input matInput>
                </mat-form-field>
                <p>Email</p>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com">
                </mat-form-field>
                <p>Phone number</p>
                <mat-form-field>
                    <mat-label>Phone number</mat-label>
                    <input matInput>
                </mat-form-field>
                <p>Node module radius select: On</p>
                <mat-radio-group>
                    <mat-radio-button>Doctor</mat-radio-button>
                    <mat-radio-button>Pacient</mat-radio-button>
                </mat-radio-group>
                <div>
                    <button style="width: 320px;" mat-flat-button>Submit</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
    
</div>
