<div style="display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 100px;">
  <div style="font-size: 30px;">
    <h2>Video consultation with a doctor</h2>
    <h2 style="color: rgb(38, 196, 245);">right here, right now</h2>
  </div>
  <div style="width: 60%; margin-top: 30px;">
    <p style="font-size: 18px;">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repellat unde perferendis eius libero inventore magnam aperiam molestias nulla,
      dolorem dolores nihil necessitatibus deserunt accusantium sed dolorum quas repellendus ullam?
    </p>
  </div>
  <div style="display: flex; gap: 20px; margin-top: 40px;">
    <button mat-flat-button>Book an Appointment</button>
    <button mat-flat-button style="background: white; color: rgb(0, 162, 255); border: 1px solid rgb(0, 162, 255);">
      Learn more
    </button>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: center; text-align: center; margin-top: 100px;">
  <h2 style="color: rgb(38, 196, 245); font-size: 40px;">Benefits for Patients</h2>
  <p style="width: 60%;">
    Lorem tal tal mmmmm no se que escribir aqui jejeje no tengo ni idea de todo esto
  </p>
</div>
