<!--Header-->
<div>
  <div style="display:flex; position: relative; left: 1400px; top: 40px; gap: 30px;">
    <p>Patient</p>
    <p style="font-weight: bold;">Doctor</p>
    <p>Value Position</p>
    <p>How it works?</p>
  <button mat-flat-button style="width: 100px;">
    Log in
  </button>
  </div>
</div>

<!--Content1-->

<div style="width: 100%; position: relative; left: 220px;">
  <div style="font-size: 30px; position: relative; left: 200px; top: 160px;">
    <h2>Video consultation with a doctor</h2>
    <h2 style="color: rgb(38, 196, 245);">right here, right now</h2>
  </div>
  <div style="width: 840px; position: relative; left: 200px; top: 130px;">
    <p style="font-size: 18px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto repellat unde perferendis eius libero inventore magnam aperiam molestias nulla, 
    dolorem dolores nihil necessitatibus deserunt accusantium sed dolorum quas repellendus ullam?</p>
  </div>
  <div style="display: flex; gap: 20px; position: relative; left: 190px; top: 150px;">
    <button mat-flat-button>Book an Appaintment</button>
    <button mat-flat-button style="background: white; color: rgb(0, 162, 255); border: 1px solid rgb(0, 162, 255);">Learn more</button>
  </div>
</div>

<!--Un text XD-->

<div style="position: relative; left: 840px; top: 320px;">
  <h2 style="color:rgb(38, 196, 245); font-size: 40px; position: relative; left: 120px;">Benefits for Patiens</h2>
  <p>Lorem tal tal mmmmm no se que escribir aqui jejeje no tengo ni idea de todo esto</p>
</div>

<!--Primeras cards-->
<app-cards1></app-cards1>

<div style="position: relative; top: 500px; left: 720px; font-size: 32px;">
  <h2 style="color: rgb(0, 162, 255)">
  Firts free consultation right now
  </h2>
</div>

<!--Segundas cards-->

<app-cards2></app-cards2>

<!--Otro content .-. -->

